/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

/* other styles */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

body {
  background-color: cornflowerblue;
}

header {
  width: 100%;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1000;
  position: fixed;
  background-color: #232328;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;
  z-index: auto;
}

nav {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,.2)
}

.menu-icons {
  left: 2rem;
}

.menu-icons i {
  font-size: 2rem;
  color: #fafafa;
  cursor: pointer;
}

.close i {
  color: #eb648c;
}

.nav-list {
  width: 25rem;
  height: 100vh;

  position: fixed;
  padding-top: 1rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.5rem 0;

}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0,0,0,.5)
}


.hero {
  width: 100%;
  height: 80vh;
  /* background: linear-gradient(135deg, rgba(49,24,131,0.9)0%, rgba(72,56,149, 0.8) 100%), url("images/hero") center no-repeat; */
  background-size: cover;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.7rem;
}

.main-message {
  width: 100%;
  max-width: 100rem;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(20%);
  text-align: center;
}

.main-message h3 {
  font-size: 1.6rem;
}

.main-message h2 {
  font-family: 'Aldrich', sans-serif;
  font-size: 4rem;
  margin: 1rem 0;
}

.main-message p {
  text-transform: lowercase;
}

.btn {
  background-color: #eb648c;
  border-radius: 2rem;
  color: #fafafa;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: background-color 650ms
}

.btn:hover {
  background-color: #ce587b;
}

/* experience outdoors */

.experience-outdoors {
  padding: 0;
}

.title-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
  color: rgba(0,0,0,0.7);
}

.title-heading h3 {
  font-size: 1.4rem;
}

.title-heading h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
}

.title-heading p {
  text-transform: lowercase;
}



/* grid */
.activities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

/* align text in stack effect */
.activities-grid-item {
  height: 25rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.activites-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(49,24,131,0.9)0%, rgba(72,56,149, 0.8) 100%);
  z-index: -1;
}

.star-gazing {
  background: url("https://d194ip2226q57d.cloudfront.net/images/Best_Summer_Stargazing.original.png") center no-repeat;
}

.hiking {
    background: url("https://d194ip2226q57d.cloudfront.net/images/Best_Summer_Stargazing.original.png") center no-repeat;
}

.camping {
    background: url("https://d194ip2226q57d.cloudfront.net/images/Best_Summer_Stargazing.original.png") center no-repeat;
}

.activities-grid-item i {
  font-size: 4rem;
  color: #eb648c;
}

.activities-grid-item h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 2rem 0;
}



/* begin adventure */
.adveture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 2rem;
}

.adventure-grid {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adventure-grid-item {
  width: 40vw;
}

.adventure-grid-item p {
  color: rgba(0,0,0,0.7)
}

footer {
  padding: 2.5rem 0;
  background-color: #d7d4ed;
  text-align: center;
  color: rgba(0,0,0,0.7);
  z-index: 1;
  width: 100%;
}

/* media queries */
@media screen and (min-width: 350px){
  .main-message {
    transform: translateY(10%);
  }
}

@media screen and (min-width: 470px){
  .hero::before {
    height: 9.4rem;
  }
}

@media screen and (min-width: 700px) {
  header {
    height: 4rem;
  }

  .nav-list {
    width: initial;
    height: initial;

    position: initial;
    top: initial;
    right: initial;
    display: flex;
    flex-direction: row;
  }

  .menu-icons {
    display: none;
  }

  .nav-item {
    margin: 0 2.5rem;
  }

  .nav-link, .current {
    color: #fafafa;
    position: relative;
    font-size: 1.3rem;
  }

/* current does not work, this can be deleted */
  .nav-link::before,
  .current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    background-color: #eb648c;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
  }

  .current::before {
    transform: scaleX(1);
  }

  .nav-link:hover::before {
    transform: scaleX(1);
  }

  .hero {
    height: 80vh;
  }

  .main-message {
    transform: translateY(10%);
  }

  .title-heading h1 {
    font-size: 2.5rem;
  }
 }

 @media screen and (min-width: 950px){
   .hero::before {
     height: 22.7rem;
   }
 }

 @media screen and (min-width: 1200px) {
   .hero{
     height: 75vh;
   }
 }










/*  */
