.toolbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: #234524;
  height: 3rem;
}

.toolbar-nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar-logo {
  margin-left: 1rem;
}

.toolbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.spacer {
  flex: 1;
}

.toolbar-nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-nav-list li {
    padding: 0 0.5rem;
}

.toolbar-nav-list a {
  color: white;
  text-decoration: none;
}

.toolbar-nav-list a:hover,
.toolbar-nav-list a:active {
  color: #345930;
}

@media (max-width: 768px) {
  .toolbar-nav-list {
  display: none
}
}

@media (min-width: 769px) {
  .toolbar-toggle-button {
  display: none
  },

  .toolbar-logo {
    margin: 0;
  }
}





/*  */
