.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1.5rem;
  width: 2rem;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;

}

.toggle-button:focus {
  outline: none;
}

.toggle-button:hover {
  cursor: pointer;

}



.toggle-button-line {
  width: 30px;
  height: 2px;
  background: white;
}
